<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>remote</string>
		<key>title</key>
		<string>built-in remote</string>
		<key>description</key>
		<string>Take calls, skip songs and adjust volume right from the cord of 
your Beats Studio headphones. No more searching for your
phone or music player just to find the right song.</string>
		<key>image</key>
		<string>promo.png</string>
		<key>interactive</key>
		<true/>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>586</integer>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>battery</string>
		<key>title</key>
		<string>battery life</string>
		<key>description</key>
		<string>When we first announced the studio headphone edition, we made
a promise that battery life would be amazingly during.
We believe we kept that promise with a non-stop
playback time of 298 hours.</string>
		<key>image</key>
		<string>front.png</string>
		<key>interactive</key>
		<false/>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>185</integer>
			<key>y</key>
			<integer>389</integer>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>microphone</string>
		<key>title</key>
		<string>built-in microphone</string>
		<key>description</key>
		<string>Receiving a call while listening to music is no longer a pain, 
thanks to the built-in microphone we added to the remote.
When receiving a call, simply press a button and you can
freely talk while keeping your headphones on!</string>
		<key>image</key>
		<string>center.png</string>
		<key>interactive</key>
		<false/>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>192</integer>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>comfort</string>
		<key>title</key>
		<string>extra comfort</string>
		<key>description</key>
		<string>Super plush and covered with ultra-soft breathable materials, you’ll
be cool and comfortable even during marathon listening sessions.
The Beats by Dr. Dre logo on the side also acts as a mute button
when you press it. No need to take them off to talk.</string>
		<key>image</key>
		<string>folded.png</string>
		<key>interactive</key>
		<false/>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>761</integer>
			<key>y</key>
			<integer>586</integer>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>noise</string>
		<key>title</key>
		<string>noise cancellation</string>
		<key>description</key>
		<string>Powered by a pair of AAA batteries, the noise cancellation feature
in a pair of stylish Beats Studio headphones amplifies the
music as it blocks out noise, giving you consistently
powerful and intense sound.</string>
		<key>image</key>
		<string>side.png</string>
		<key>interactive</key>
		<false/>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>842</integer>
			<key>y</key>
			<integer>389</integer>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>money</string>
		<key>title</key>
		<string>30-day money back</string>
		<key>description</key>
		<string>We believe that anyone who tries our product, will instantly fall
in love with it. We even are so convinced of our product,
that we offer you a 30-day money back guarantee,
no strings attached. Go for it!</string>
		<key>image</key>
		<string>closeup.png</string>
		<key>interactive</key>
		<false/>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>761</integer>
			<key>y</key>
			<integer>192</integer>
		</dict>
	</dict>
</array>
</plist>
